<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://facebook.com/borgiorno">
              <i class="icon-social-facebook"></i>
            </a>
            </li>
          <!--  <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
            </li>-->
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://instagram.com/borgiorno.bp">
              <i class="icon-social-instagram"></i>
            </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Vestalux Szociális Szövetkezet 2021</p>
    </div>
</footer>
