<a class="menu-toggle rounded" href="{{ site.url }}">
      <i class="fas fa-bars"></i>
    </a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">BORgiorno</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Kezdőlap</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#kinalatunk">Kínálatunk</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#kapcsolat">Kapcsolat</a>
        </li>
    </ul>
</nav>
